image: node:latest
   
pipelines:
  branches:
      release/deploy:
          - step:
              name: Push to Heroku Container
              deployment: test
              services:
                  - docker
              script:
                  - echo $HEROKU_API_KEY
                  - echo $HEROKU_APP_NAME
                  - curl https://cli-assets.heroku.com/install-ubuntu.sh | sh
                  - heroku container:login
                  - heroku container:push web -a $HEROKU_APP_NAME
                  - heroku container:release web -a $HEROKU_APP_NAME
  
